@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root {
    --fonte-destaque: 'Kanit', Arial, sans-serif;
    --fonte-dois: 'Noto Sans', Arial ,sans-serif;
    --font-tres:  'Concert One', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 280px;
}

div#txt {
    background-color: rgba(128, 128, 128, 0.514);
    margin: 0px;
    padding: 6px;
    border: 0px;
    text-align: right;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.315) inset;
}
#logo {
    position: absolute;
    max-width: 30px;
    left: 0px;
    top: 0px;
    
}
header {
    background-color: #4d5f69;
    margin: 0px;
    padding: 50px;
    text-align: center;

}

header > h1 {
    font-family: var(--fonte-dois);
    font-size: 40px;
}

nav#menu {
    background-color: green;
    display: block;
    padding: 5px;
    width: 600px;
    font-size: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.247);
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
 
nav#menu > a {
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 9px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.6s;

}
    
nav#menu > a:hover {
    display: inline-table;
    background-color: rgba(39, 202, 202, 0.644);
    color: rgb(255, 14, 14);
}

main#principal {
    background-color: #d8711d;
    height: 500px;
    width: 75%;
    float: left;
}

#principal > p {
    font-family: var(--fonte-destaque);
    padding: 30%;
    text-align: center;

}

div#rank {
    background-color: yellow;
    height: 500px;
    width: 25%;
    float: left;
}
#rank > h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    
}
#rank > img {
    width: 23%;
    
}
#rank > p {
    text-align: center;

}

footer#rodape {
    background-color: rgb(72, 255, 0);
    height: 65px;
    clear: both;
}
#rodape > p {
    font-family: var(--fonte-destaque);
    padding-top: 20px;
    text-align: center;
}